<!DOCTYPE html>
<html>
    <title>{{ .Site.Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/w3c.css">
    <link rel="stylesheet" href="../css/montserrat.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
        /* Set the width of the sidebar to 120px */
        .w3-sidebar {width: 120px;background: #222;}
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {margin-left: 120px}
        /* Remove margins from "page content" on small screens */
        @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    </style>
    <body class="w3-black">
        {{ partial "nav.html" . }}
        <!-- Page Content -->
        <div class="w3-padding-large" id="main">
            <!-- Header/Home -->
            <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
                <div id="brand">
                    <img src="../img/RustyText.png" alt="Don't Be Me" class="w3-image" width="992" height="1108">
                </div>
                <p class="w3-text-orange">A Comedic Biographical Serious Podcast</p>
            </header>
            <!-- About Section -->
            {{ partial "episode.html" . }}
            <!-- Footer -->
            {{ partial "footer.html" . }}
            <!-- END PAGE CONTENT -->
        </div>
    </body>
</html>