<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
    <body class="w3-black">
        {{ partial "nav.html" . }}
        <!-- Page Content -->
        <div class="w3-padding-large" id="main">
            <!-- Header/Home -->
            {{ partial "header.html" . }}
            <!-- About Section -->
            {{ partial "about.html" . }}
            <!-- Episode Section -->
            {{ partial "latest.html" . }}
            <!-- Episode Section -->
            {{ partial "episodes.html" . }}
            <!-- Footer -->
            {{ partial "footer.html" . }}
            <!-- END PAGE CONTENT -->
        </div>
    </body>
</html>