<div class="w3-content w3-justify w3-text-grey" id="about">
    <h2 class="w3-text-orange">About</h2>
    <hr style="width:200px" class="w3-opacity">
    <p class="w3-text-orange"> This podcast is about my life, what I have learned and what I would have done different. My target audience is anyone who wants to listen but is mainly aimed at my kids. By doing this podcast they can one day hear me talk about the things I could not when they were young.</p>
    <!-- End About Section -->
</div>