<div class="w3-padding-64 w3-content" id="episodes">
    <h2 class="w3-text-orange">Episodes</h2>
    <hr style="width:200px" class="w3-opacity">
    <!-- Grid for episodes -->
    <div class="w3-row-padding" style="margin:0 -16px">
        {{/*  <div class="w3-half">
            <img src="img/comingsoon.jpg" alt="Episode 4" style="width:100%">
        </div>
        <div class="w3-half">
            <img src="img/comingsoon.jpg" alt="episode 3" style="width:100%">
        </div>  */}}
        <div class="w3-half">
            <a href="ep002">
                <img src="img/comingsoon.jpg" alt="Episode 2" style="width:100%">
            </a>
        </div>
        <div class="w3-half">
                <a href="ep001">
                    <img src="img/comingsoon.jpg" alt="Episode 1" style="width:100%">
                </a>
            </div>
        <!-- End episodes grid -->
    </div>
    <!-- End Portfolio Section -->
</div>