<div class="w3-padding-64 w3-content" id="episodes">
    <h2 class="w3-text-orange">Episodes</h2>
    <hr style="width:200px" class="w3-opacity">
    <!-- Grid for episodes -->
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
            <a href="ep002">
                <img src="img/comingsoon.jpg" alt="Episode 2" style="width:100%">
            </a>
        </div>*/}}
        <!-- Begin episode -->
        <div class="w3-half">
            <div class="w3-display-container" style="border: 1px solid orange;">
                <a href="ep002">
                    <img src="img/episode.png" alt="Episode 1" style="width:100%" class="w3-opacity-max">
                    <div class="w3-display-middle w3-container w3-text-orange" style="font-size: 24px">
                        Episode # 
                        {{ with .Site.GetPage "ep002"}}
                            {{.Params.episodeNumber}}
                        {{end}}
                            - 
                        {{ with .Site.GetPage "ep002"}}
                            {{.Params.description}}
                        {{end}}
                        - 
                        {{ with .Site.GetPage "ep002"}}
                            {{.Params.length}}
                        {{end}}
                    </div>
                </a>
            </div>
        <!-- End episode -->
    </div>
        <div class="w3-half">
            <div class="w3-display-container" style="border: 1px solid orange;">
                <a href="ep001">
                    <img src="img/episode.png" alt="Episode 1" style="width:100%" class="w3-opacity-max">
                    <div class="w3-display-middle w3-container w3-text-orange" style="font-size: 24px">
                        Episode # 
                        {{ with .Site.GetPage "ep001"}}
                            {{.Params.episodeNumber}}
                        {{end}}
                            - 
                        {{ with .Site.GetPage "ep001"}}
                            {{.Params.description}}
                        {{end}}
                        - 
                        {{ with .Site.GetPage "ep001"}}
                            {{.Params.length}}
                        {{end}}
                    </div>
                </a>
            </div>
        <!-- End episodes grid -->
    </div>
    <!-- End Portfolio Section -->
</div>