<div class="w3-content w3-text-orange" id="subscribe">
  <h2 class="w3-text-orange">Subscribe</h2>
  <hr style="width:200px" class="w3-opacity">
  <h5 class="w3-text-orange">Coming Soon - All of them</h5>
  <div class="row">
    <div class="col-md-12 footer-content">
        <span class="logo">
          <a href="/"><img src="/img/sub_google.webp" height=35></a>
        </span>
        <span class="logo">
          <a href="/"><img src="/img/sub_Spotify.png" height=35></a>
        </span>
        <span class="logo">
          <a href="/"><img src="/img/sub_stitcher.webp" height=35></a>
        </span>
        <span class="logo">
          <a href="/"><img src="/img/sub_podbean.png" height=35></a>
        </span>
        <span class="logo">
          <a href="/"><img src="/img/sub_apple.webp" height=35></a>
        </span>    
        <span class="logo">
          <a href="/"><img src="/img/Alexa.png" height=35></a>
        </span>   
        <span class="logo">
          <a href="/"><img src="/img/rss_button.png" height=35></a>
        </span> 
        <span class="logo">
          <a href="https://www.reddit.com/r/dontbemepodcast/"><img src="/img/reddit.png" height=35></a>
        </span>        
      </div>
    </div>
</div>